@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: rgba(66, 153, 225, 0.2) !important; /* blue-500 with opacity */
  stroke: #4299e1 !important; /* blue-500 */
  stroke-width: 2px !important;
}

.bpmn-preview {
  background-color: white;
  cursor: grab;
}

.bpmn-preview:active {
  cursor: grabbing;
}

.bpmn-preview .djs-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

.bpmn-preview .djs-container .viewport {
  width: 100% !important;
  height: 100% !important;
}

.bpmn-preview .djs-palette {
  display: none !important;
}

.bpmn-preview .djs-context-pad {
  display: none !important;
}

.bpmn-preview .djs-overlays {
  display: none !important;
}

.bpmn-preview .djs-bendpoints {
  display: none !important;
}

/* Dosya seçme butonu için özel stil */
.file-input-button {
  position: relative;
  overflow: hidden;
}

.file-input-button input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}